/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
    height: 100vh;
    padding: 20px;
}

.form {
    background: #FFF;
    padding: 30px;
    border-radius: 6px;
    width: 100%;
    max-width: 430px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 600px;
    overflow-y: auto;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
    margin-bottom: 20px;
}

.form .field,
.field-group .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.field-group {
    display: flex;
    justify-content: space-between;
}

.field-group .field {
    width: calc(50% - 10px); /* Adjust the spacing between fields */
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
    border-radius: 6px;
}

.field input:focus {
    border-color: #0171d3;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
}

.field button {
    background-color: #0171d3;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.field button:hover {
    background-color: #016dcb;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form-link a {
    color: #0171d3;
    text-decoration: none;
}

.form-link a:hover {
    text-decoration: underline;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #d4d4d4;
    position: relative;
    margin: 36px 0;
}

.line::before {
    content: 'Or';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

a.facebook, a.google {
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
}

.facebook-icon, .google-img {
    margin-right: 8px;
}

@media screen and (max-width: 768px) {
    .field-group {
        flex-direction: column;
    }
    .field-group .field {
        width: 100%; /* Fields take full width on smaller screens */
    }
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }
}
